.review-box{
    background-image: url(../../images/section_bg.jpg);
}

.slick-dots li button:before {
    opacity: 1;
    color: white;
    position:unset;
}

.slick-dots li {
    margin: 0 2px;
}

.slick-dots li.slick-active button:before {
    color: black;
}

.slick-dots li.slick-active button:before {
    border: 3px solid white;
    border-radius: 100%;
    opacity: 1;
}